html, body { height: 100%; width: 100%;}

.ptg-nav .ptg-button {
	display: block;
	width: 100px;
	height: 50px;
	cursor: pointer;
	background: rgba(0,0,0,.4);
	position: absolute;
	z-index: 999999;
	text-align: center;
	overflow: hidden;
	line-height: 1em;
	padding-top: 15px;
}

.ptg-nav .ptg-button:hover {color: red;}

.ptg-nav .ptg-button--right { right: 0; top: 50%; margin-top: -25px;}
.ptg-nav .ptg-button--left { left: 0; top: 50%; margin-top: -25px;}
.ptg-nav .ptg-button--up { top: 0; left: 50%; margin-left: -50px;}
.ptg-nav .ptg-button--down { bottom: 0; left: 50%; margin-left: -50px;}

.ptg-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.ptg-item { background: rgba(100,100,255, .2); }
.ptg-item:nth-child(2n+2) { background: rgba(100,100,255, .5); }
.ptg-item,
.ptg-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


.ptg-box-inner {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
.ptg-box-inner h1,
.ptg-items h2 {
	width: 500px;
	height: 200px;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	z-index: 9999;
	
}
.ptg-items h2 {
	top: 60%;
}

.ptg-items {
	position: relative;
}

.ptg-item-inner {
	width: 400px;
	height: 400px;
	overflow: hidden;
	overflow-y:auto;
	margin: 200px auto 0 auto;
}
 

.ptg-current,
.no-js .ptg-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.ptg-box-ontop {
	z-index: 999;
}

/*---------------------------------------------------------------------------*\

  // $Extra Styles

\*---------------------------------------------------------------------------*/

.overlay {
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -95px;
	width: 190px;
	/*height: 200px;*/
	background: rgba(0,0,0,.5);
	z-index: 9999;

}
.overlay ul,
.overlay ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.overlay h2 {
	line-height: 1em;
	padding: .25em .5em;
	margin: 0;
	background: rgba(255,255,255,.8);
	color: #333;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.overlay ul li a {
	display: block;
	padding: .5em 1em;
	color: #AAA;
	transition: all .2s ease-in-out;
}

.overlay li a:hover,
.overlay li a.ptg-nav--active {
	background: rgba(0,0,0,.1);
	text-indent: .2em;
}

.overlay li a.ptg-nav--active {
	color: #FFF;
} 

@media screen and (min-width: 700px) {
	.overlay {
		position: absolute;
		top: 10%;
		left: 15%;
		width: 190px;
		/*height: 200px;*/
		background: rgba(0,0,0,.5);
		z-index: 9999;

	}
	.overlay h2 {
		line-height: 1em;
		padding: .5em 1em;
		margin: 0;
	}

	.overlay ul li a {
		display: block;
		padding: 1em 2em;
	}
	
}

/* Text Styles, Colors, Backgrounds */
.ptg-box-0 {
	background: #e1ad71;
}

.ptg-box-1 {
	background: #0ac2d2;
}

.ptg-box-2 {
	background: #7bb7fa;
}

.ptg-box-3 {
	background: #60d7a9;
}

.ptg-box-4 {
	background: #fdc162;
}

.ptg-box-5 {
	background: #fd6a62;
}

.ptg-box-6 {
	background: #f68dbb;
}

.no-cssanimations .ptg-message {
	display: block;
}
